/* 扫描窗口居中 */
.scanner-container {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scanner {
  margin: 10px auto;
  width: 250px;
  height: 250px;
  border: 3px solid #515151;
  position: relative;
}

/* 上传的二维码图片和最后一帧样式 */
.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 保持图片比例 */
}

.decoded-text {
  margin-top: 10px;
  font-size: 18px;
  color: white;
  font-family: 'Arial', sans-serif;
}

.start-scan-button,
.stop-scan-button,
.image-scan-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stop-scan-button {
  background-color: #f44336;
}

.image-scan-button {
  background-color: #2196f3;
}

.start-scan-button:hover,
.stop-scan-button:hover,
.image-scan-button:hover {
  opacity: 0.8;
}
